body {
    background: #cec5c5;
    color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 100px;
}

a {
    color: cyan;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    background-color: #121212;
    color: #fff;
}